<%- include("head") %>

<body>
    <!-- สร้างตารางสำหรับแสดงข้อมูล -->
    <div class="container">
        <!-- header -->
        <%- include("header") %>
        <!-- content -->
        <h2>Employee List</h2>
        <table>
            <tr>
                <th>EmployeeId</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Title</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            
        <% data.forEach((item)=>{ %>
            <tr>
                <td><%=item.EmployeeId%></td>
                <td><%=item.FirstName%></td>
                <td><%=item.LastName%></td>
                <td><%=item.Title%></td>
                <td><%=item.Phone%></td>
                <td><%=item.Email%></td>
                <td><a href="/delete/<%=item.EmployeeId%>">Delete</a></td>
            </tr>    
            <% }); %>   
        </table>
        <!-- footer -->
        <%- include("footer") %>
    </div>

</body>
</html>