<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <center>
        <h1>Book Store</h1>
    </center>

    <table>
        <tr>
            <th>ID</th>
            <th>Book Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
        <% books.forEach((book, index) => { %>
            <tr class="<%= index % 2 === 0 ? 'odd-row' : '' %>">
                <td><%= book.id %></td>
                <td><%= book.name %></td>
                <td><%= book.description %></td>
                <td><%= book.price %></td>
                <td><%= book.amount %></td>
            </tr>
        <% }) %>

    </table>
</body>
</html>