<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bpmf+Huninn&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <center>
        <h1>My Products</h1>
    </center>
    <div class="container">
        <% foods.forEach(product=> { %>
            <div class="product-card">
                <img src="<%= product.image_url %>" alt="<%= product.name %>">
                <h2>
                    <%= product.name %>
                </h2>
                <p>
                    <%= product.description %>
                </p>
                <center>
                    <button onclick="location.href='/food/<%= product.product_id %>'">View Details</button>
                </center>
            </div>
            <% }) %>
</body>

</html>